.toLeft{
  text-align: left;  
}

.toCenter{
  text-align: center;  
}

.equalLengthPre {
    min-width: 110px;
}

.equalLengthPost {
    min-width: 50px;
}

.tbDescription{
    width: 50%;
    font-weight: bold;
}

.tbValue{
    width: 50%;
}